/* CSS for large screens */
@media (min-width: 1200px) {
  .menu-show, .menu-hide, .menu-show.showing, .menu-hide.showing{
    display: none;
} 
  #nav-menu {
    display: flex;
    justify-content: space-around;
  }

  
  #nav-menu{
    display: flex;
}
#nav-menu a{
  padding: 10px 15px;
  font-size: 1.2em;
}

.about-content p {
  font-size: 1.5em; 
}
.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.form-container {
  background-color: #F7FFF7;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

form {
  grid-column: 1 / 2;
}

input, select, textarea {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

}

#weather {
    display: grid;
    grid-template-columns:1fr; 
    margin: 40px auto;
    max-width: 1000px;
    text-align: center;
  }
  
