body {
    margin:auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffff;
    padding: 20px;
    max-width: 1200px;
}
header{
    display:block;
}

h1, h2 {
    font-family: 'Montserrat Light 300 Italic', sans-serif;
    font-style: italic;
    background-color: #4B88A2;
}
a{
    text-decoration: none;
    color:  #4B88A2;
}
a:hover{
    color:red;
    text-decoration: underline;
}

footer {
    background-color: #4B88A2;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    font-size: 20px;
    padding: 5px;
}

